<nav class="navbar navbar-light bg-light">
  <span class="nav-admin title">TestGuru Admin Panel</span>

  <div>
    Welcome, <b><%= current_user.first_name %> <%= current_user.last_name %></b> Guru | 
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  </div>
</nav>
