<h2>Your badges</h2>

<% if @badges.present? %>
  <table class="table">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <%= render @badges %>
    </tbody>
    </table>
<% end %>
