.nav {
  display: flex;
  justify-content: space-between;
}

.nav .right_content {
  display: flex;
}

.nav .user {
  margin-right: 8px;
}

.nav.nav-admin {
  background-color: #4293e6;
}

.nav-admin.title {
  font-style: 140%;
  font-weight: 400;
}
