<h1><%= t(".title") %></h1>

<table class="table table-striped">
  <tr class="table-secondary">
    <th>Name</th>
    <th>Level</th>
    <th>Number of questions</th>
    <th>Actions</th>
  </tr>

  <%= render @tests %>
</table>
